<div class="card">
  <p-table [value]="items" [tableStyle]="{'min-width': '160rem'}">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        Student Lists
        <p-button icon="pi pi-refresh"></p-button>
        <p-button label="Add Student"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>S.N.</th>
        <th>Id</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Grade</th>
        <th>Address</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Guardian FullName</th>
        <th>Guardian Contact Number</th>
        <th>Student Email Address</th>
        <th>Student Enrollment Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.middleName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.gradeLevel }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.dateOfBirth }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.guardianFullName }}</td>
        <td>{{ item.guardianContactNumber }}</td>
        <td>{{ item.studentEmailAddress }}</td>
        <td>{{ item.enrollmentDate }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="card flex justify-content-right">
        <p-paginator 
        [first]=first 
        [rows]=rows 
        [totalRecords]="totalItems" 
        [rowsPerPageOptions]="[10, 20, 30]" 
        />
      </div>
    </ng-template>
    
  </p-table>
</div>
